$color-gray: #ccc;
$color-base: #ecf0f1;
$color-primary: #213c4a;
$color-white-light: #eee;
$color-gray-dark: #7f7c7c;
$color-white-dark: #dedcdc;
$color-black: rgb(0, 0, 0);
$color-primary-red: #FF5049;
$color-blue: rgb(18, 29, 51);
$color-white-lighter: #fafafa;
$color-primary-green: #008000;
$color-primary-yellow: #fad007;
$color-white-lightest: #f2f9fc;
$color-white: rgb(255, 255, 255);
$color-primary-dark: rgb(61, 83, 98);
$color-primary-darker: rgb(39, 72, 88);
$font-family-primary: 'Roboto', sans-serif;
$color-primary-light: rgb(100, 121, 138);
$font-family-additional: Open Sans, sans-serif;