//All Btn
.btn {
  outline: none;
  cursor: pointer;
  font-size: 0.8em;
  overflow: hidden;
  appearance: none;
  font-weight: 300;
  position: relative;
  align-self: center;
  text-align: center;
  border-style: solid;
  padding: 0.6em 1.5em;
  border-radius: 0.5em;
  color: $color-primary;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: transparent;
  font-family: $font-family-primary;
  &:after {
    width: 0;
    top: 50%;
    left: 50%;
    height: 0;
    z-index: -1;
    content: '';
    opacity: 0.15;
    position: absolute;
    pointer-events: none;
    border-radius: 0.5em;
    transition: all 0.5s ease;
  }
  &:hover:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:focus {
    outline: 0;
  }
  &:active {
    transform: translateY(2px);
  }
  &__modal {
    border-color: $color-white-light;
    &:after {
      background: $color-primary;
    }
  }
  &__preview {
    z-index: 1;
    border-color: $color-white;
    background-color: $color-white;
    &:after {
      background: $color-primary;
    }
  }
  &__datepicker {
    border: none;
    outline: none;
    color: $color-white;
    background-color: $color-primary;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
    
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
//auth Btn
.auth__btn-off,
.auth__btn-on {
  width: 100%;
  opacity: 0.5;
  display: flex;
  outline: none;
  height: 3.5em;
  line-height: 1;
  font-size: 0.8em;
  font-weight: 600;
  min-width: 8.7em;
  margin-top: 0.9em;
  border-width: 1px;
  text-align: center;
  border-style: solid;
  align-items: center;
  flex-direction: row;
  color: $color-white;
  cursor: not-allowed;
  white-space: nowrap;
  border-radius: 0.5em;
  text-decoration: none;
  box-sizing: border-box;
  vertical-align: middle;
  justify-content: center;
  border-color: $color-primary;
  background-color: $color-primary;
  transition: all 0.2s ease-in-out 0s;
}
.auth__btn-on {
  opacity: 1;
  cursor: pointer;
  &:active {
    transform: translateY(2px);
  }
}
//pagination Btn
.btn-pagination {
  margin: 0 0.3em;
  cursor: pointer;
  font-size: 0.8em;
  border-radius: 3px;
  color: $color-white;
  padding: 0.5em 0.9em;
  background-color: $color-primary;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  &.selected {
    color: $color-white;
    background-color: $color-primary-red;
    &:hover,
    &:hover:not(:active) {
      transform: none;
    }
  }
}
//Input
.input {
  margin: 0;
  width: 100%;
  outline: none;
  font-size: 0.85em;
  padding: 1em 1.1em;
  border-radius: 0.3em;
  color: $color-primary;
  transition: all 0.4s ease;
  border: 1px solid $color-gray;
  background-color: $color-white;
  font-family: $font-family-primary;
  box-shadow: inset 0 1px 0.1em 0 rgba($color-black, 0.08);
  &.success {
    border: 1px solid $color-primary-green;
  }
  &.error {
    border: 1px solid $color-primary-red;
  }
}
//Dropdown
.container__add {
  width: 12.4em;
}
.dropdown {
  width: 100%;
  position: relative;
  border-radius: 0.3em;
  background-color: $color-white;
  font-family: $font-family-primary;
  &__box {
    height: 2.8em;
    display: flex;
    padding: 0 0.7em;
    cursor: pointer;
    align-items: center;
    border-radius: 0.3em;
    border: 1px solid $color-gray;
    justify-content: space-between;
  }
  &__selected {
    width: 100%;
    outline: none;
    font-size: 0.9em;
    line-height: 1.5;
    text-align: start;
    padding: 0.5em 0.5em;
    box-sizing: border-box;
    color: $color-primary;
    transition: all 200ms ease;
    background-color: $color-white;
    &.selected {
      color: $color-primary;
    }
  }
  &__icon {
    width: 1em;
    height: 1em;
    transform: rotate(-90deg);
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.rotate {
      transform: rotate(90deg);
    } 
  }
  &__bottom {
    top: 100%;
    width: 100%;
    z-index: 1000;
    display: none;
    margin-top: -1px;
    overflow-y: auto;
    position: absolute;
    max-height: 12.5em;
    box-sizing: border-box;
    border: 1px solid $color-gray;
    background-color: $color-white;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 1px 0 rgba($color-black, 0.06);
  }
  &__options {
    display: block;
    cursor: pointer;
    font-size: 0.9em;
    text-align: start;
    padding: 0.5em 1.2em;
    box-sizing: border-box;
    color: $color-gray-dark;
    &:hover {
      cursor: pointer;
      background-color: $color-white-light;
      transition: .15s background-color ease-in;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $color-gray;
    }
    &.selected {
      color: $color-primary-red;
      background-color: $color-white-lightest;
    }
  }
  &__arrow {
    display: inline-flex;
  }
  &__img-arrow {
    width: 1em;
    height: 1em;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.rotate {
      transform: rotate(180deg);
    } 
  }
  &.open &__bottom {
    display: block;
  }
}
//Bounce Loader
.bounce {
  &--budget {
    padding-top: 2em;
    padding-right: 4em;
  }
  &--statistics {
    padding-top: 4em;
    margin-left: -5.4em;
  }
  &__container {
    left: 12%;
    padding: 0;
    width: 11.7em;
    display: flex;
    margin: 0 auto;
    position: relative;
    transform: translate(-50%,-50%);
  }
  &__container li {
    width: 2.5em;
    height: 2.5em;
    list-style: none;
    border-radius: 50%;
    background: $color-white;
    animation: animate 1.6s ease-in-out infinite;
  }
  &__container li:nth-child(1) {
    animation-delay: -1.4s;
    background: rgba($color-primary-light, 0.8);
  }
  &__container li:nth-child(2) {
    animation-delay: -1.2s;
    background: rgba($color-primary-light, 0.8);
  }
  &__container li:nth-child(3) {
    animation-delay: -1s;
    background: rgba($color-primary-light, 0.8);
  }
  &__container li:nth-child(4) {
    animation-delay: -0.8s;
    background: rgba($color-primary-light, 0.8);
  }
  &__container li:nth-child(5) {
    animation-delay: -0.6s;
    background: rgba($color-primary-light, 0.8);
  }
  &__container li:nth-child(6) {
    animation-delay: -0.4s;
    background: rgba($color-primary-light, 0.8);
  }
}
@keyframes Text {
  0%, 40%,100% {
    opacity:0.3;
  }
  20% {
    opacity:0.4;
  }
}
@keyframes animate {
  0%, 40%,100% {
    transform: scale(0.2);

  }
  20% {
    transform: scale(0.6);
    background: $color-primary;
  }
}
//Btn Loader
.btn-loader {
  width: 4.3em;
  text-align: center;
}
.btn-loader > div {
  width: 1.1em;
  height: 1.1em;
  background-color: $color-white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.btn-loader .btn-loader__bounce-one {
  animation-delay: -0.32s;
  -webkit-animation-delay: -0.32s;
}
.btn-loader .btn-loader__bounce-two {
  animation-delay: -0.16s;
  -webkit-animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
//Textarea
.textarea {
  height: 12.5em;
}
//Slider
.slider {
  height: 1.8em;
  display: flex;
  font-weight: 300;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: $font-family-primary;
  &__arrow {
    top: 18%;
    width: 1em;
    height: 1em;
    cursor: pointer;
    font-size: 1.2em;
    user-select: none;
    position: absolute;
    &--left {
      z-index: 1;
      left: 0.5em;
    }
    &--right {
      z-index: 1;
      right: 0.59em;
      transform: rotate(180deg);
    }
  }
  &__content {
    width: 3em;
    height: 1em;
    bottom: 2.4em;
    cursor: pointer;
    font-size: 0.9em;
    position: relative;
    color: $color-primary-light;
  }
  &__slide {
    opacity: 0;
    transition-duration: 1s;
    transition-timing-function: ease;
    &.active {
      opacity: 1;
      transition-duration: 1s;
    }
  }
}
//Strength password
.strength-password {
  left: 0.15em;
  bottom: 0.15em;
  height: 0.15em;
  position: absolute;
  background: transparent;
  transition: all 300ms ease-in-out;
}
.strength-password[data-score='0'] {
  width: 0;
}
.strength-password[data-score='1'] {
  width: 25%;
  background: $color-primary-red;
}
.strength-password[data-score='2'] {
  width: 50%;
  background: $color-primary-yellow;
}
.strength-password[data-score='3'] {
  width: 99%;
  background: $color-primary-green;
}
//Alert popup
.alert {
  top: 0;
  height: 0;
  width: 100%;
  z-index: 1040;
  overflow: hidden;
  position: absolute;
  text-align: center;
  color: $color-primary;
  box-sizing: border-box;
  transition: height .4s;
  background: $color-white;
  font-family: $font-family-primary;
  &__content {
    display: flex;
    font-size: 1.2em;
    margin-top: 0.4em;
    justify-content: center;
  }
  &__background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 0;
    z-index: 1;
    display: block;
    position: fixed;
    background: inherit;
  }
  &.active {
    height: 2.8em;
  }
}
//Value popup
.value-popup {
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  top: -18.7em;
  display: flex;
  margin: 2.5em auto;
  position: absolute;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  &__container {
    width: 28.1em;
    border-radius: 0.5em;
    background-color: $color-base;
    box-shadow: 0 0 0.6em rgba($color-black, 0.5);
  }
  &__content {
    padding: 0.7em;
    text-align: center;
    &--data {
      font-weight: bold;
      color: $color-primary-red;
    }
  }
  &__background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 0;
    z-index: -1;
    display: block;
    position: fixed;
    background: inherit;
  }
  &.value-in {
    top: 0;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out;
  }
  &.value-out {
    opacity: 0;
    top: -18.7em;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
  }
}
//Remove popup
.remove-popup {
  left: 50%;
  top: 3.1em;
  opacity: 0;
  z-index: 2;
  width: 25em;
  height: 6.2em;
  position: fixed;
  font-weight: 700;
  transition: all 1s;
  border-radius: 0.5em;
  animation-duration: 1s;
  background: $color-white;
  animation-fill-mode: both;
  color: $color-primary-light;
  background-color: $color-base;
  font-family: $font-family-primary;
  box-shadow: 0 0 0.6em rgba($color-black, 0.5);
  transform: translateY(-100%) translateX(-50%);
  &__content {
    display: flex;
    margin-top: 0.4em;
    justify-content: center;
  }
  &__background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 0;
    z-index: 1;
    display: block;
    position: fixed;
    background: inherit;
  }
  &__heading {
    font-size: 0.85em;
  }
  &__btn-box {
    width: 50%;
    display: flex;
    margin: 0 auto;
    padding-top: 1.2em;
    justify-content: space-between;
  }
  &__img {
    width: 2.2em;
    height: 2.2em;
    cursor: pointer;
  }
  &.remove-in {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  &.remove-out {
    opacity: 0;
    transform: translateY(-100%) translateX(-50%);
  }
}
//Pagination
.pagination {
  position: relative;
  &__controls {
    left: 6.3%;
    bottom: 0%;
    display: flex;
    position: absolute;
  }
}
//Tolltip
.tooltip {
  right: 4em;
  width: 11em;
  bottom: 1em;
  padding: 0.3em;
  font-size: 1em;
  text-align: center;
  visibility: hidden;
  position: relative;
  color: $color-base;
  border-radius: 0.3em;
  font-family: $font-family-primary;
  background: rgba($color-primary, 0.7);
  &__arrow {
    top: 100%;
    left: 46%;
    position: absolute;
    border-width: 0.3em;
    border-style: solid;
    border-color: rgba($color-primary, 0.7) transparent transparent;
  }
}
//Form
.form {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 0.9em;
  flex-direction: column;
  &__container {
    width: 100%;
    position: relative;
  }
  &__label {
    cursor: default;
  }
  &__title {
    display: block;
    cursor: inherit;
    font-size: 0.8em;
    font-weight: 600;
    font-style: normal;
    &--settings {
      top: 3em;
      right: 10em;
      position: relative;
    }
  }
  &__span {
    display: flex;
    font-size: 1.3em;
    font-weight: 500;
    text-align: start;
    font-family: $font-family-additional;
  }
  &__wrapper {
    width: 100%;
    height: 3em;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
  &__cell {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
  }
  &__error {
    right: 0;
    top: -1.5em;
    display: block;
    position: absolute;
  }
  &__heading {
    font-weight: 600;
    font-style: normal;
    font-size: 0.85em;
    color: $color-primary-red;
  }
  &__medium {
    font-size: 0.8em;
    font-weight: 600;
    font-style: normal;
    color: $color-primary-darker;
  }
  &__strong {
    font-size: 0.8em;
    font-weight: 600;
    font-style: normal;
    color: $color-primary-green;
  }
}
//Datepicker
.datepicker {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &__date {
    font-size: 0.9em;
    font-weight: 400;
    padding: 0.3em 1.5em;
    margin-bottom: 0.9em;
    color: $color-primary;
    background-color: $color-base;
  }
  &__container {
    width: 18.5em;
    text-transform: capitalize;
    background-color: $color-base;
  }
  &__header {
    display: flex;
    padding: 0.6em;
    font-weight: 400;
    position: relative;
    align-items: center;
    color: $color-primary;
    justify-content: space-between;
    border-bottom: 1px solid $color-gray;
  }
  &__heading {
    height: 1.2em;
    cursor: pointer;
  }
  &__arrow-container {
    width: 20%;
    display: flex;
    height: 0.7em;
    justify-content: space-between;
  }
  &__arrow-left {
    height: 1em;
    width: 0.5em;
    cursor: pointer;
  }
  &__arrow-right {
    height: 1em;
    width: 0.5em;
    cursor: pointer;
    transform: rotate(-180deg);
  }
  &__body {
    height: 13.7em;
    padding: 0.3em;
  }
  &__week {
    gap: 1px 1px;
    display: grid;
    font-weight: 600;
    font-size: 0.75em;
    text-align: center;
    align-items: center;
    color: $color-primary;
    grid-template-columns: repeat(7, 1fr);
  }
  &__days {
    opacity: 0;
    display: grid;
    font-weight: 400;
    font-size: 0.85em;
    text-align: center;
    text-align: center;
    align-items: center;
    color: $color-primary;
    grid-template-rows: 1fr;
    background-color: none;
    grid-template-columns: repeat(7, 1fr);
    &.start {
      opacity: 1;
    }
    &.new {
      opacity: 1;
      animation: fadeIn 1s ease-out;
    }
    &.inPrev {
      opacity: 1;
      animation: moveFromLeftFadeCalendar .4s ease-out;
    }
    &.outPrev {
      opacity: 1;
      animation: moveToLeftFadeCalendar .4s ease-in;
    }
    &.inNext {
      opacity: 1;
      animation: moveFromRightFadeCalendar .4s ease-out;
    }
    &.outNext {
      opacity: 1;
      animation: moveToRightFadeCalendar .4s ease-in;
    }
  }
  &__day {
    cursor: pointer;
    padding: 0.35em 0;
    margin-top: 0.15em;
    border-radius: 0.7em;
    &:hover {
      color: $color-white;
      background-color: $color-primary;
    }
  }
  &__today {
    color: $color-primary;
    background-color: $color-white-dark;
  }
  &__end, &__start, &__active, &__between, &__selected {
    color: $color-white;
    background-color: $color-primary-red;
    &:hover {
      background-color: $color-primary-red;
    }
  }
  &__between {
    border-radius: 0;
  }
  &__end {
    border-radius: 0 0.7em 0.7em 0;
  }
  &__start {
    border-radius: 0.7em 0 0 0.7em;
  }
  &__additional {
    padding: 0.3em;
    cursor: pointer;
    font-weight: 300;
    color: $color-gray-dark;
    background: none !important;
    &:hover {
      cursor: not-allowed;
      color: $color-gray-dark;
      background: none !important;
    }
  }
  &__pick-items {
    opacity: 0;
    display: grid;
    padding: 2em 0;
    font-weight: 400;
    font-size: 0.9em;
    text-align: center;
    color: $color-primary;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    &.start {
      opacity: 1;
    }
    &.new {
      opacity: 1;
      animation: fadeIn 1s ease-out;
    }
    &.inPrev {
      opacity: 1;
      animation: moveFromLeftFadeCalendar .4s ease-out;
    }
    &.outPrev {
      opacity: 1;
      animation: moveToLeftFadeCalendar .4s ease-in;
    }
    &.inNext {
      opacity: 1;
      animation: moveFromRightFadeCalendar .4s ease-out;
    }
    &.outNext {
      opacity: 1;
      animation: moveToRightFadeCalendar .4s ease-in;
    }
  }
  &__pick-item {
    display: flex;
    cursor: pointer;
    padding: 0.5em 0;
    align-items: center;
    border-radius: 0.7em;
    justify-content: center;
    &:hover {
      color: $color-white;
      background-color: $color-primary;
    }
  }
  &__unchoosable {
    font-weight: 300;
    padding: 0.5em 1em;
    cursor: not-allowed;
    color: $color-gray-dark;
  }
  &__btn-container {
    padding: 1.5em 0;
  }
}
@keyframes fadeIn  {
  from {opacity: 0;}
}
@keyframes moveFromRightFadeCalendar {
  from {opacity: 0; transform: translateX(30%);}
}
@keyframes moveToRightFadeCalendar {
  to {opacity: 0; transform: translateX(-30%);}
}
@keyframes moveFromLeftFadeCalendar {
  from {opacity: 0; transform: translateX(-30%);}
}
@keyframes moveToLeftFadeCalendar {
  to {opacity: 0; transform: translateX(30%);}
}